@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

/* 
    font-family: 'Orbitron', sans-serif;
    font-family: 'Raleway', sans-serif; 
    font-family: 'Akaya Kanadaka', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
html, body{
    height: 100vh;
    font-size: 62.5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde1e7;
    text-align: center;
    flex-direction: column;
}
.clock{
    background: #dde1e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73,
                0.3rem 0.3rem 0.7rem rgba(94, 104, 121, 0.288);
    position: relative;
}
.clock:before{
    content: '';
    position: absolute;
    width: 22rem;
    height: 22rem;
    background: #dde1e7;
    box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73,
               inset 0.3rem 0.3rem 0.5rem rgba(94, 104, 121, 0.288);
    border-radius: 50%;
}
.clock::after{
    content: '';
    position: absolute;
    width: 12rem;
    height: 12rem;
    background: #dde1e7;
    box-shadow:  -0.1rem -0.1rem 0.5rem #ffffff73,
                0.1rem 0.1rem 0.3rem rgba(94, 104, 121, 0.288);
    border-radius: 50%;
}
.clock .center-nut{
    height: 1.5rem;
    width: 1.5rem;
    background: #404040;
    z-index: 2;
    border-radius: 50%;
    position: absolute;
}
.clock .center-nut2{
    height: 0.9rem;
    width: 0.9rem;
    background: #3498db;
    z-index: 15;
    border-radius: 50%;
    position: absolute;
}
.indicator{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator div{
    position: absolute;
    width: 0.2rem;
    height: 0.5rem;
    background: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #050A30;;
}
.indicator div:nth-child(1){
    transform: rotate(30deg) translateY(-10rem);
}
.indicator div:nth-child(2){
    transform: rotate(60deg) translateY(-10rem);
}
.indicator div:nth-child(3){
    margin-right: 1rem;
    width: 0;
    height: 0;
    transform: rotate(90deg) translateY(-10rem);
    z-index: 10000;
}
.indicator div:nth-child(4){
    transform: rotate(120deg) translateY(-10rem);
}
.indicator div:nth-child(5){
    transform: rotate(150deg) translateY(-10rem);
}
.indicator div:nth-child(6){
    margin-bottom: 1rem;
    width: 0;
    height: 0;
    transform: rotate(180deg) translateY(-10rem);
}
.indicator div:nth-child(7){
    transform: rotate(210deg) translateY(-10rem);
}
.indicator div:nth-child(8){
    transform: rotate(240deg) translateY(-10rem);
}
.indicator div:nth-child(9){
    margin-left: 1rem;
    width: 0;
    height: 0;
    transform: rotate(270deg) translateY(-10rem);
}
.indicator div:nth-child(10){
    transform: rotate(300deg) translateY(-10rem);
}
.indicator div:nth-child(11){
    transform: rotate(330deg) translateY(-10rem);
}
.indicator div:nth-child(12){
    margin-top: 1rem;
    width: 0;
    height: 0;
    transform: rotate(360deg) translateY(-10rem);
}
.clock .indicator .three{
    transform: rotate(270deg);
}
.clock .indicator .six{
    transform: rotate(180deg);
}
.clock .indicator .nine{
    transform: rotate(90deg);
}
.sec-hand, .min-hand, .hr-hand{
    position: relative;
}
.sec-hand, .sec{
    position: absolute;
    width: 18rem;
    height: 18rem;
    z-index: 6;
}
.min-hand, .min{
    width: 13rem;
    height: 13rem;
    z-index: 5;
    position: absolute;
}
.hr-hand, .hr{
    width: 11rem;
    height: 11rem;
    z-index: 4;
    position: absolute;
}
.sec, .min, .hr{
    display: flex;
    justify-content: center;
}

.sec:before{
    content: '';
    position: absolute;
    height: 11rem;
    width: 0.3rem;
    background: #3498db;
}
.sec:after{
    position: absolute;
    content: '';
    width: 3.5rem;
    height: .7rem;
    background: #3498db;
    transform: rotate(90deg);
    top: 12rem;
    border-radius: 0.5rem;
}

.hr:before{
    content: '';
    position: absolute;
    width: 0.1rem;
    top: .1rem;
    border-left: 0.3rem solid transparent;
    border-right: .3rem solid transparent;
    border-bottom: 3.5rem solid #303030;
}
.hr:after{
    position: absolute;
    content: '';
    width: 0.3rem;
    top: 3.5rem;
    border-left: .2rem solid transparent;
    border-right: .2rem solid transparent;
    border-top: 2.5rem solid #303030;
}
.min:before{
    content: '';
    position: absolute;
    width: 0.1rem;
    top: -1.5rem;
    border-left: 0.3rem solid transparent;
    border-right: .3rem solid transparent;
    border-bottom: 6rem solid #e95949;
}
.min:after{
    position: absolute;
    content: '';
    width: 0.3rem;
    top: 4rem;
    border-left: 0.2rem solid transparent;
    border-right: .2rem solid transparent;
    border-top: 3rem solid #e95949;
}

/* Set digital clock */
.digital-clock{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 40rem;
    height: 15rem;
    background: #dde1e7;
    box-shadow:  -0.3rem -0.3rem 0.7rem #ffffff73,
    0.3rem 0.3rem 0.7rem rgba(94, 104, 121, 0.288);
    position: relative;
}
.digital-clock::after{
    content: '';
    position: absolute;
    width: 38rem;
    height: 13rem;
    box-shadow: inset -0.3rem -0.3rem 0.7rem #ffffff73,
                inset 0.3rem 0.3rem 0.7rem rgba(94, 104, 121, 0.288);
}
.digital-clock .out-box{
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dde1e7;
    box-shadow: -0.3rem -0.3rem 0.7rem #ffffff73,
                0.3rem 0.3rem 0.7rem rgba(94, 104, 121, 0.288);
    color: #050A30;
    font-size: 3rem;
}
.digital-clock .dot{
    margin: 0 .5rem;
    color: #000C66;
}


/* responsive */

@media(max-width:500px){
    .digital-clock{
        width: 30rem;
        height: 10rem;
    }
    .digital-clock::after{
        width: 28rem;
        height: 8rem;
    }
    .digital-clock .out-box{
        width: 7rem;
        height: 6rem;
        font-size: 2rem;
    }
    .digital-clock .dot{
        margin: 0 .5rem;
        font-size: 2rem;
    }
}
@media(max-width:300px){
    .digital-clock{
        width: 25rem;
        height: 8rem;
    }
    .digital-clock::after{
        width: 23rem;
        height: 6rem;
    }
    .digital-clock .out-box{
        width: 5rem;
        height: 4rem;
        font-size: 1.3rem;
    }
    .digital-clock .dot{
        margin: 0 .5rem;
        font-size: 1.3rem;
    }
}
